name: Bot Autom치tico Yahoo Finance

on:
  schedule:
    - cron: '0 0 * * *' # Se ejecuta todos los d칤as a las 00:00 UTC
  workflow_dispatch: # Nos crea un bot칩n en GitHub para ejecutarlo a mano cuando queramos

permissions:
  contents: write # Permiso para subir los CSVs actualizados

jobs:
  ejecutar-bot:
    runs-on: ubuntu-latest # Usa un servidor Linux gratuito

    steps:
    - name: 游닌 Descargar el c칩digo
      uses: actions/checkout@v4

    - name: 游냀 Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: 游닍 Instalar librer칤as
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: 游 Ejecutar el Scraper
      run: python 'scraper_yahoo_bot.py'

    - name: 游 Guardar los CSVs actualizados
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
        git add *.csv
        git diff --quiet && git diff --staged --quiet || git commit -m "游늵 Datos actualizados autom치ticamente: $(date +'%Y-%m-%d')"
        git push
